<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<meta charset="utf-8">
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="user" ng-controller = "user_ctrl">
	<div class="container-fluid">
		<div class="row user_form">
		<form name="user_form">
		  <div class="input-group">
		    <span class="input-group-addon">Email</span>
		    <input id="email" type="text" class="form-control" name="email" placeholder="Email" ng-model = 'email'>
		  </div>
		  <div class="input-group">
		    <span class="input-group-addon">Name</span>
		    <input  type="text" class="form-control" name="password" placeholder="Name" ng-model = 'name'>
		  </div>
		  <div class="input-group">
		    <span class="input-group-addon">Password</span>
		    <input id="password" type="password" class="form-control" name="msg"  ng-model = 'password' value="">
		    <input type="checkbox" ng-click="show()">Show Password 
		  </div>
		  <button type="button" class="btn btn-info" ng-click="submit()">Submit</button>
		</form> 
		</div>
		<div class="row" ng-if="!loggedin">
			<button class="btn btn-primary" ng-click="show_next_menu()">Continue</button>
		</div>
	</div>




<script type="text/javascript">
	
	window.onload = ()=>{
		const app = angular.module('user', []);
		app.controller('user_ctrl', ["$scope", function($scope){
			$scope.email = '';
			$scope.name = '';
			$scope.password = '';
			$scope.loggedin = true;
			$scope.submit = ()=>{
				console.log($scope.user_form);
				let obj = {
					name:$scope.name,
					email:$scope.email,
					password:$scope.password
				}
				console.log(obj);
				$.ajax({
					url:"http://localhost:3000/api/createuser",
					method:'POST',
					data:obj,
					type:'json',
					success:(data)=>{
						console.log(data);
						if(data.auth){
							$scope.loggedin = false;
							$scope.$apply();
						}
						document.cookie =data;
						$(".user_form").hide();
					},
					error: (err)=>{console.log(err)}
				})
			}
			
			$scope.show_next_menu = ()=>{
				window.location.href = "http://localhost:3000/user";
			}
			$scope.show = ()=>{
				  var x = document.getElementById("password");
				  if (x.type === "password") {
				    x.type = "text";
				  } else {
				    x.type = "password";
				  }
			}
		}]);
	};

</script>
</body>
</html>